<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div xmlns:cajeta="http://www.cajetajs.com/v01" templateId="formExampleDiv">
	Experiment with the undo functionality built in to the framework -- modify a few fields, and then press the
	back button.
	<form componentId="testForm">
		<fieldset>
			<legend>Text Input Fields</legend>
			<label componentId="firstLabel"></label><br />
			First Field: <input type="text" componentId="firstTextField" /><br />
			Second Field: <input type="text" componentId="secondTextField" /><br />
		</fieldset>
		<fieldset>
			<legend>Checkbox</legend>
			<input type="checkbox" name="green" componentId="greenColor" />Green<br />
			<input type="checkbox" name="blue" componentId="blueColor" />Blue<br />
			<input type="checkbox" name="red" componentId="redColor" />Red<br />
		</fieldset>
		<fieldset>
			<legend>Radio</legend>
			<input type="radio" name="diet" componentId="vegetarian" />Vegetarian<br />
			<input type="radio" name="diet" componentId="pescatarian" />Pescatarian<br />
			<input type="radio" name="diet" componentId="omnivore" />Omnivore<br />
		</fieldset>
		<fieldset>
			<legend>TextArea</legend>
			<textarea rows="4" cols="10" componentId="textArea" />
		</fieldset>
		<fieldset>
			<legend>Select</legend>
			Static: <select componentId="selectStatic">
			<option value="firstChoice">First Choice</option>
			<option value="secondChoice">Second Choice</option>
			<option value="thirdChoice">Third Choice</option>
		</select><br />
			Programmatic: <select componentId="selectProgrammatic" /><br />
			Programmatic With OptGroups: <select componentId="selectProgrammaticOption" /><br />
			Programmatic Multiple: <select componentId="selectMultiProgrammatic" multiple /><br />
		</fieldset>
        <button componentId="submitButton" type="button">Submit</button>
    </form>
</div>

