<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div xmlns:cajeta="http://www.cajetajs.com/v01" tid="uiExampleDiv">
    <table cid="repeaterExample">
        <tr cid="tableRow" hidden="true">
            <td>
                <label cid="leftColumn">test</label>
            </td>
            <td>
                <label cid="centerColumn" />
            </td>
            <td>
                <label cid="rightColumn" />
            </td>
        </tr>
    </table>
    Hello!
</div>

