<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div xmlns:cajeta="http://www.cajetajs/v01" cajeta:templateId="homePage">

	<form cajeta:componentId="testForm">
		<fieldset>
			<legend>Text input fields</legend>
			First name: <input type="text" cajeta:componentId="firstName" /><br />
			Last name: <input type="text" cajeta:componentId="lastName" /><br />
		</fieldset>
		<fieldset>
			<legend>Checkbox</legend>
			<input type="checkbox" name="green" cajeta:componentId="greenColor" />Green<br />
			<input type="checkbox" name="blue" cajeta:componentId="blueColor" />Blue<br />
			<input type="checkbox" name="red" cajeta:componentId="redColor" />Red<br />
		</fieldset>
		<fieldset>
			<legend>Radio</legend>
			<input type="radio" name="diet" cajeta:componentId="vegetarian" />Vegetarian<br />
			<input type="radio" name="diet" cajeta:componentId="pescatarian" />Pescatarian<br />
			<input type="radio" name="diet" cajeta:componentId="omnivore" />Omnivore<br />
		</fieldset>
		<fieldset>
			<legend>TextArea</legend>
			<textarea rows="4" cols="10" cajeta:componentId="textArea" />
		</fieldset>
		<fieldset>
			<legend>Select</legend>
			Static:
			<select cajeta:componentId="selectStatic">
				<option value="First Choice">First Choice</option>
				<option value="Second Choice">Second Choice</option>
				<option value="Third Choice">Third Choice</option>
			</select><br />
			Programmatic: <select cajeta:componentId="selectProgrammatic" /><br />

		</fieldset>

		<input type="submit" value="Submit" />
	</form>
</div>

