<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div xmlns:infusion="http://www.infusionjs/v01" tid="homePage">
    <div id="canvas">
        <div id="main-menu">
            <section id="logo">
                <span>Infusion</span>
            </section>
            <nav id="nav">
                <ul cid="tabs" />
            </nav>
            <section id="search">
                <form method="post" action="#">
                    <input type="text" class="text" name="search" placeholder="Search" />
                </form>
            </section>
        </div>
        <div id="content" cid="content">
        </div>
    </div>
</div>

