
/*
font-family: 'Marcellus SC', serif;
font-family: 'Trykker', serif;
font-family: 'Carme', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Open Sans', sans-serif;
*/

h1 { font-family: 'Julius Sans One', sans-serif; font-weight: 400; }
h2 { font-family: 'Qauttrocento', serif; font-weigth: 400; }
h3 { font-family: 'Open Sans', sans-serif; font-weight: 400; }