<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div xmlns:cajeta="http://www.cajetajs.com/v01" cajeta:templateId="formExampleDiv">
	Experiment with the undo functionality built in to the framework -- modify a few fields, and then press the
	back button.
	<form cajeta:componentId="testForm">
		<fieldset>
			<legend>Text input fields</legend>
			<label cajeta:componentId="firstLabel"></label><br />
			First Field: <input type="text" cajeta:componentId="firstTextField" /><br />
			Second Field: <input type="text" cajeta:componentId="secondTextField" /><br />
		</fieldset>
		<fieldset>
			<legend>Checkbox</legend>
			<input type="checkbox" name="green" cajeta:componentId="greenColor" />Green<br />
			<input type="checkbox" name="blue" cajeta:componentId="blueColor" />Blue<br />
			<input type="checkbox" name="red" cajeta:componentId="redColor" />Red<br />
		</fieldset>
		<fieldset>
			<legend>Radio</legend>
			<input type="radio" name="diet" cajeta:componentId="vegetarian" />Vegetarian<br />
			<input type="radio" name="diet" cajeta:componentId="pescatarian" />Pescatarian<br />
			<input type="radio" name="diet" cajeta:componentId="omnivore" />Omnivore<br />
		</fieldset>
		<fieldset>
			<legend>TextArea</legend>
			<textarea rows="4" cols="10" cajeta:componentId="textArea" />
		</fieldset>
		<fieldset>
			<legend>Select</legend>
			Static: <select cajeta:componentId="selectStatic">
			<option value="firstChoice">First Choice</option>
			<option value="secondChoice">Second Choice</option>
			<option value="thirdChoice">Third Choice</option>
		</select><br />
			Programmatic: <select cajeta:componentId="selectProgrammatic" /><br />
			Programmatic With OptGroups: <select cajeta:componentId="selectProgrammaticOption" /><br />
			Programmatic Multiple: <select cajeta:componentId="selectMultiProgrammatic" multiple /><br />
		</fieldset>
		<input type="submit" value="Submit" />
	</form>
    <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
        <g display="inline">
            <title>Layer 1</title>
            <image xlink:href="http://2.bp.blogspot.com/-pZQCOrLJWI0/TcvM0X_mjOI/AAAAAAAADQI/UcxDKSzseBg/s640/Cool+Images+by+cool+images786+%25283%2529.jpg" id="svg_1" height="477.99998" width="657.99999" y="1.00001" x="-8.99997"/>
        </g>
        <g display="inline">
            <title>Text</title>
            <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_3" y="462" x="322" stroke-width="0" stroke="#000000" fill="#ffffff">Fear not for whom the bell tolls</text>
        </g>
    </svg>
</div>

